.topnav{
    background-color: #e5e759;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #13aaaa;
    color: black;
}

.topnav a.active{
    background-color: #034223;
    color: white;
}